.breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    & > li {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.15em;
        color: $mainColor;

        &:not(:last-child) {
            
                &:after {
                    content: ' • ';
                    margin-right: 5px;
                    color: $titleColor;
                }
            
        }

        & > a {
            color: $titleColor;
            transition: all .3s ease;
            @media (min-width: 992px) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
