.promo-header {
    &__body {
        & .swiper-pagination {
            bottom: auto;
            left: auto;
            top: 0;
            right: 0;
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 115px;
            pointer-events: none;

            @media (max-width: $md4+px) {
                width: 65px;
            }

            & .swiper-pagination-bullet {
                pointer-events: auto;
                height: 30px;
                width: 30px;
                margin: 15px 0px;
                display: block;
                position: relative;
                overflow: hidden;
                opacity: 1;
                transition: all 0.3s ease;

                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &.swiper-pagination-bullet-active {
                    height: 50px;
                    width: 50px;
                    border: 2px solid $mainColor;
                }
            }
        }
    }

    &__item {
        min-height: 933px;
        position: relative;

        @media (max-width: $md2+px) {
            min-height: 600px;
        }
    }

    &__phone {
        position: absolute;
        right: 13.4%;
        bottom: 115px;
        z-index: 6;

        @media (max-width: 1440px) {
            right: 20px;
            top: 14%;
            transform: translateX(0%);
        }


        @media (max-width: $md2+px) {
            right: 35px;
        }

        
        @media (max-width: $md4+px) {
            right: 8px;
        }

    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        & img {
            @media (min-width: 992px) {
                transform: scale(1.06) translateY(0.2%);
            }
        }
    }

    &__top-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        clip-path: polygon(0% 0%, 0% 100%, 55% 100%, 55% 14%, 86.6% 14%, 86.6% 100%, 100% 100%, 100% 0%);
      
        @media (max-width: 1440px) {
            clip-path: polygon(
                0% 0%,
                0% 100%,
                55% 100%,
                55% 14%,
                calc(100% - 20px) 14%,
                calc(100% - 20px) 100%,
                100% 100%,
                100% 0%
            );
        }

        @media (max-width: $md2+px) {
            clip-path: none;
            background-image: none !important;
        }

        @media (min-width: 992px) {
            background-image: url("../img/photo/promo-header-bg-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(58, 86, 116, 0.83);
            background-position: center;
    
        }


        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            clip-path: polygon(0% 0%, 0% 100%, 55% 100%, 55% 14%, 86.6% 14%, 86.6% 100%, 100% 100%, 100% 0%);

            @media (max-width: 1440px) {
                clip-path: polygon(
                    0% 0%,
                    0% 100%,
                    55% 100%,
                    55% 14%,
                    calc(100% - 20px) 14%,
                    calc(100% - 20px) 100%,
                    100% 100%,
                    100% 0%
                );
            }

            @media (max-width: $md2+px) {
                clip-path: none;
            }

            background: linear-gradient(358.96deg, rgba(58, 86, 116, 0.17) 0.4%, rgba(58, 86, 116, 0) 73.54%),
                linear-gradient(106.77deg, rgba(58, 86, 116, 0.83) -1.6%, rgba(58, 86, 116, 0) 100%),
                linear-gradient(90deg, rgba(58, 86, 116, 0.4) 0%, rgba(58, 86, 116, 0.4) 96.17%);
        }
    }

    &__top-layer-line-1 {


        @media (min-width: 992px) {
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 116px;
            width: 55%;
            background: #edf4f9;
            z-index: 3;
        }
    }

    &__top-layer-line-2 {


        @media (min-width: 992px) {
            position: absolute;
            right: 0;
            bottom: -1px;
            height: 116px;
            width: 13.4%;
            background: #fff;
            z-index: 3;
        }
    }

    @media (min-width: 992px) {
        &__gird-line-1 {
            position: absolute;
            z-index: 4;
            top: 14%;
            width: 100%;
            height: 1px;
            background-color: rgba(#D5DBE0, 0.3);
        }
        &__gird-line-2 {
            position: absolute;
            z-index: 4;
            top: 43%;
            width: 100%;
            height: 1px;
            background-color: rgba(#D5DBE0, 0.3);
        }
        &__gird-line-3 {
            position: absolute;
            z-index: 4;
            top: 75%;
            width: 100%;
            height: 1px;
            background-color: rgba(#D5DBE0, 0.3);
        }
    }


    &__content {
        position: relative;
        z-index: 5;
        padding-top: 150px;
        color: #fafafa;
        padding-bottom: 50px;
    }

    &__wrap {
        padding-right: 80px;

        @media (max-width: 1559px) {
            padding-left: 50px;
        }

        @media (min-width: 992px) {
            padding-right: 0;
            width: 55%;
        }

        @media (max-width: $md4+px) {
            padding-right: 50px;
            padding-left: 0;
        }
    }

    &__previcon {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 40px;
        max-width: 708px;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.06em;
        max-width: 501px;
        font-weight: 400;
        margin-bottom: 63px;

        @media (max-width: $md4+px) {
            font-size: 16px;
        }
    }

    &__btn {

        &.btn {
            font-size: 20px;
            line-height: 1.2em;
            color: #ffffff;
            padding: 10px 15px;
            min-width: 398px;
            position: relative;
            justify-content: center;
            padding-right: 60px;
            transition: all .3s ease;
            height: auto;
            min-height: 72px;

            @media (max-width: $md4+px) {
                min-width: auto;
                width: 100%;
                font-size: 16px;
            }
        }


        

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            border: 8px solid transparent; border-left: 8px solid #fff;
            transition: all .3s ease;
        }

        @media (min-width: 992px) {
            &:hover {
                &:before {
                    transform: translateY(-50%) translateX(5px);
                }
            }
        }
    }
}
