.article-page {
    &:before {
        width: 61%;
    }

    & > *:not(.promo-header):not(.grid-lines):not(.side-social) {
        position: relative;
        z-index: 3;
    }

    & .side-social {
        top: 80px;
        left: 26px;
    }

    & .hero {
        margin-bottom: 100px;

        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }
    }

    & .text-block {
        margin-bottom: 26px;
    }

    & .text-block__row {
        &:not(.text-block__row_title):not(:last-child) {
            margin-bottom: 70px;

            @media (max-width: $md3+px) {
                margin-bottom: 50px;
            }
        }
    }
}

.article-info {
    max-width: 711px;
    &__top {
        margin-bottom: 20px;
        border-bottom: 1px solid $mainColor;
        padding-bottom: 5px;
    }

    &__top-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 524px;
    }

    &__top-group {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    &__top-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
        flex: 0 0 auto;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 65px;
        }

        & img {
            flex: 0 0 auto;
            max-height: 18px;
            width: auto;
            margin-right: 10px;
        }
    }

    &__content {
        max-width: 609px;
        & .list-col-2 > li {
            margin-bottom: 44px;

            @media (max-width: $md3+px) {
                margin-bottom: 0;
            }
        }
        & a {
            font-size: 18px;
            color: $textColor;
            transition: all 0.3s ease;
            line-height: 1.666em;

            @media (min-width: 992px) {
                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}

.comments {
    margin-bottom: 60px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__body {
        padding: 60px 20px 53px;
        position: relative;

        @media (max-width: $md3+px) {
            padding: 30px 20px 30px;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: calc(100% - 40px);
            background-color: $mainColor;
        }
        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: calc(100% - 40px);
            background-color: $mainColor;
        }
    }

    &__title {
        margin-bottom: 50px;

        @media (max-width: $md3+px) {
            margin-bottom: 25px;
        }
    }

    &__list {
        & > li {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}

.comment {
    display: flex;

    @media (max-width: $md4+px) {
        display: block;
    }

    &__col-1 {
        flex: 0 0 auto;
        margin-right: 33px;
        padding-top: 10px;
    }

    &__col-2 {
        flex: 1 1 auto;

        & .comment {
            margin-top: 13px;

            @media (max-width: $md4+px) {
                padding-left: 30px;
            }
        }
    }

    &__photo {
        width: 50px;
        height: 50px;
    }

    &__author {
        font-size: 14px;
        line-height: 2.14em;
        text-transform: uppercase;
        color: $titleColor;
    }

    &__date {
        margin-bottom: 7px;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__reply {
        font-size: 20px;
        line-height: 1.4em;
        color: $mainColor;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $titleColor;
            }
        }
    }
}

.send-comment {
    margin-bottom: 164px;
    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }
    &__title {
        margin-bottom: 30px;
    }

    &__body {

        margin-bottom: 4px;

        @media (min-width: 576px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__item {
        margin-bottom: 20px;
        min-width: 200px;
        flex: 1 1 auto;
        &:not(:last-child) {
          

            @media (min-width: 576px) {
                margin-right: 20px;
            }
        }
    }

    @media (min-width: 576px) {
        &__item-1 {
            max-width: 268px;
        }
        &__item-2 {
            max-width: 268px;
        }
        &__item-4 {
            flex: 0 0 auto;
        }
    }

    &__item-3 {
        @media (max-width: $md3+px) {
            flex: 0 1 100%;
            margin-right: 0 !important;

            & .textarea {
                height: 100px;
            }
        }
    }

    &__item-1 {
        @media (max-width: $md3+px) {
            max-width: none;
            flex: 0 1 calc(50% - 10px);
        }
    }

    &__item-2 {
        @media (max-width: $md3+px) {
            max-width: none;
            flex: 0 1 calc(50% - 10px);
            margin-right: 0 !important;
        }
    }



    &__rating {
        display: flex;
        align-items: center;

        @media (max-width: 379.98px) {
            display: block;
        }
    }

    &__rating-label {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.02em;
        white-space: nowrap;
        margin-right: 20px;
    }

    & .checkbox-wrap {
        margin-bottom: 20px;
    }

    &__submit {

        &.btn-default {
            min-height: 60px;
            min-width: 292px;
            padding-left: 10px;   

            @media (max-width: 379.98px) {
                min-width: auto;
                width: 100%;
            }
        }
    }
}


